<ion-header-bar class="bar-calm">
  <button class="button button-icon" ng-click="toggleLeft()">
    <i class="icon ion-navicon-round"></i>
  </button>
  <h1 class="title">查詢 ({{ members.length }})</h1>
</ion-header-bar>

<ion-content padding="true">
	
	<div class="list">
	  <label class="item item-input">
	  	<i class="icon ion-search placeholder-icon"></i>
	    <input type="text" ng-model="q" placeholder="篩選姓名。。。">
	  </label>
	  <div class="button-bar" style="border-radius: 20px">
	    <a class="button" ng-class="{'button-calm': isActive('all')}" ng-click="setActive('all')" style="font-size:1.5em;">全</a>

	    <a class="button" ng-repeat="org in orgs" ng-class="{'button-calm': isActive(org.key)}" ng-click="setActive(org.key)" style="font-size:1.5em;">{{ org.abbr }}</a>
	    
	  </div>
  	</div>

	<button class="button "  ng-class="{'button-energized': isMemActive(mem)}" ng-click="setMemActive(mem)"  style="margin-left:8px;width:135px; margin-top:10px;font-size:1.5em;" ng-repeat="mem in members | filter:q">
		{{ mem.name }}
	</button>

</ion-content>

<script id="info-detail.html" type="text/ng-template">
  <div class="modal">
    <ion-header-bar class="bar-royal">
      <h1 class="title">{{ currentMem.name }} 的資料</h1>
    </ion-header-bar>
    <ion-content>
      

      
    </ion-content>
    <ion-footer-bar class="bar-royal">
      <button class="button button-royal" ng-click="setDate()">確定</button>
    </ion-footer-bar>
  </div>
</script>